/* Navbar styles */
.navbar {
    padding: 10px 40px;
    background-image: url("kente1.jpg");
    width: 100%;
}

.navbar ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    margin: 0 10px;
    display: inline;
}

.navbar ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-weight: bold;
    transition: transform 0.3s ease, font-size 0.3s ease;
}

.navbar ul li a:hover {
    background-color: transparent;
    transform: scale(1.2);
    font-size: 18px;
}
.navbar ul li a:active{
    transform: scale(1.1);
    font-size: 17px;
}
.navbar .navdiv{
    display: flex; align-items: center; justify-content: space-between; width: 100%;
}
 .logo a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    color: aliceblue;
    font-weight: bold;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Montserrat";
    font-size: 15px;
    box-sizing: border-box;
    padding-left: 0px;
    margin: 0;
    background-color:rgb(253, 253, 252);
    background-image: url("");
    overflow-x: hidden;
}

img{
    width: 400px;
    border-radius:10px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.text-container{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height:1.4;
    color: black;
    text-align: justify;
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 60px;
    padding-left: 60px;
}

.text-container img {
    display: block;
    max-width: 100%;
    margin:10px;
    
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}
.reveal.active{
    transform: translateY(5px);
    opacity: 1;
}

@keyframes bounce{
    0%, 20%, 50%, 80%, 100%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-30px);
    }
    60%{
        transform: translateY(-15px);
    }
}
.logo a{
    display: inline-block;
    animation: bounce 2s infinite;
}
.image{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0;
}
.image img{
    flex: 1 1 calc(33.333% - 10px);
    max-width: calc(33.333% - 10px);
    border-radius: 5px;
    margin: 5px;
}
